*{
    box-sizing: border-box;
}


:root{
    --color1:#18CFAB;
    --color2:#fff;
    --color3:#00CBF6;
    --color4:#1C2A33;
    --color5:#4E4E4E;
    --color6:rgba(255, 255, 255, 0.6);
    --color7:#4E4E4E;
}

body{
    font-family: 'Montserrat';
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/* перша секція */
.header{
    height: 1012px;
    background-image: url(../img/Layer\ 1\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    background-attachment: fixed;
}


.navmenu{
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
    
}

.menu{
display: flex;
justify-content: space-between;

}

.logo{
    display: flex;
}


.six{
    width: 58px;
height: 67px;
margin-top: 26px;
}


.theham{
    font-weight: 400;
font-size: 35px;
line-height: 48px;
color: var(--color2);
margin-top: 34px;
margin-left: 6px;
position: relative;
}

.theham::before{
    content: "H";
    font-weight: 700;
font-size: 40px;
line-height: 31px;
color: var(--color2);
position: absolute;
left: -52px;
top: 10px;
}

.theham a {
    color: var(--color2);
}
.logo_colored{
    color: var(--color1);
    font-weight: 700;
}


.menu2_search{
    display: flex;
}


.menu_2{
    color: var(--color6);
    display: flex;
    gap: 21px;
    padding-top: 52px;
}



.text_navmenu{
    color:rgba(255, 255, 255, 0.60);
    font-weight: 700;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
transition: color 0.2s ease-in-out, border 0.1s;
}


.text_navmenu:hover{
    color:var(--color1);
    border-bottom: 2px solid var(--color1); 
    padding-bottom: 45px;
}

.logo_green{
    display: none;
    width: 21.091px;
    height: 20px;
}

.icon_search{
    display: block;
    width: 21.091px;
height: 20px;
margin-top: 52px;
margin-left: 21px;
fill: var(--color2);
}


.icon_search:hover{
    fill: var(--color1);
}

.theham2{
    font-weight: 700;
font-size: 35px;
    color: var(--color2);
    text-align: center;
    text-transform: uppercase;
    margin-top: 264px;
}

.h1{
    font-style: normal;
font-weight: 700;
font-size: 78px;
text-align: center;
text-transform: uppercase;
color: var(--color2);
margin-top: 22px;
}

.activeH1{
    transform: translate(0px, 0px);
    opacity: 1;
}


.title_theham{
    font-weight: 400;
font-size: 34px;
text-align: center;
color: #D4D4D4;
margin-top: 22px;
}

 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin-top: 134px;
    padding-bottom: 243px;
 }

 

.same_button{
    width: 169px;
padding-top: 16px ;
padding-bottom: 16px ;
font-weight: 700;
font-size: 15px;
line-height: 32px;
text-align: center;
position: relative;
text-transform: uppercase;
color: var(--color2);
border: none;
border-radius: 5px;
background: var(--color1);
border-top: 5px solid var(--color2);
}

.another_color{
    background: var(--color3);
}


/* grid 1 */

.grid{
    margin-top: 8px;
display: grid;
height: 377px;
grid-template-columns: repeat(4, 2fr);
text-align: center;
color: var(--color2);
    text-transform: uppercase; 
    font-weight: 700;
font-size: 20px;
line-height: 24px;

}

.grid_content{
    background: var(--color4);
    color: var(--color1);
    padding-top: 97px;
}

.subtext_grid{
    padding-top: 48px;
}


.grid_content2{
    background: var(--color1);
    padding-top: 106px;
}

.subtext_grid2{
padding-top: 59px;
}

/* Our Services  */

.h3{
    padding-top: 83px;
    font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;
color: var(--color7);
position: relative;
margin-bottom: 26px;
}

.h3::before{
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background: linear-gradient(var(--color1), var(--color1));
    position: absolute;
    top: 139px;
    left: 532px;
}

.h3::after{
        content: "";
        display: block;
        width: 70px;
        height: 1px;
        background: linear-gradient(var(--color1), var(--color1));
        position: absolute;
        top: 143px;
        left: 547px;
}


.menu_our_Service{
    display: flex;
     justify-content: center;
     align-items: center;
}


.text_our_servise{
    width: 195px;
height: 72px;
text-align: center;
background: #F8FCFE;
border: 1px solid #EDEFEF;
font-weight: 400;
font-size: 15.9859px;
line-height: 39px;
color: #717171;
padding-top: 17px;
margin-top: 69px;
position: relative;
}


.text_our_servise:hover{
    box-sizing: border-box;
 border: 1.5px solid var(--color1);
}

.text_our_servise.active{
    background: var(--color1);
    color: var(--color2);
    position: relative;
   
}

.text_our_servise.active::before{
    content: "";
    width: 27px;
height: 27px;
background-color: var(--color1);
position: absolute;
top: 50px;
left: 79px;
transform: rotate(45deg);

}

.img{
    display: none;
}

.img.active{
display: block;
width: 192px;
height: 139px;
}

.img_text{
    display: flex;
    margin-top: 24px;
    gap: 15px;
    margin-bottom: 91px;
}

.img_text2{
    width: 952px;
height: 136px;
    font-style: normal;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;
display: none;
}

.img_text2.active{
    display: block;
}

.background_Image_Section3{
    background-image: url(../img/Layer\ 21\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Everything{
    font-weight: 700;
font-size: 40px;
line-height: 40px;
text-align: center;
padding-top: 126px;
text-transform: uppercase;
color: var(--color1);
}

.Smoothreliabl{
    padding-top: 12px;
    font-weight: 400;
font-size: 16px;
line-height: 40px;
    text-align: center;
color: #D8D8D8;
}

.button.everything{
    margin-top: 83px;
    padding-bottom: 143px;
}

/* section amazing_world */

.amazing_world{
    background-color: #E9EDEF;
}

.h3.amazing{
    padding-top: 96px;
    margin-bottom: 20px;
}
.h3.amazing::before{
    top: 147px;
}
.h3.amazing::after{
    top: 151px;
}

.btn_amazing_world{
    cursor:default;
    height: 58px;
    border: 1px solid #DADADA;
background: rgba(0, 0, 0, 0.00);
color: #717171;
font-size: 14px;
font-weight: 400;
text-align: center;
padding-top: 21px;
margin-top: 69px;
margin-bottom: 71px;
}

.active2{
    color: var(--color1);
    border: 1px solid var(--color1);
    cursor: default;
}

.all1{
    width: 79px;
}
.graphic_design1{
    width: 142px;
}

.web_design1{
    width: 117px;
}

.landing_pages1{
    width: 137px;
}

.wordpress1{
    width: 106px;
}
.all_img_filter{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
   
}

.all_img_filter img{
    display: block;
}

.green_line{
    width: 284px;
height: 3px;
background-color: var(--color1);
margin-bottom: 40px;
}

.allPictures{
    position: relative;
}

.front,
.back{
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
}

.back{
    position: absolute;
    top: 0;
    height: 207px;
    width: 285px;
background-color: #E9EDEF;
text-align: center;
transform: perspective(600px) rotateY(180deg);
}

.front{
transform: perspective(600px) rotateY(0deg);
}

.allPictures:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.allPictures:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}



.creative_design_title{
    color: var(--color1);
font-size: 14.177px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
padding-top: 35px;
}

.creative_design_text{
    color: #8A8A8A;
font-size: 12.152px;
font-weight: 300;
line-height: 25.185px;
padding-top: 5px;

}

.load_more{
   margin: 0 auto;
   display: block;
   width: 168px;
height: 63px;
background-color: var(--color1);
border: none;
color: white;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
padding-left: 15px;
font-family: 'Montserrat';
border-radius: 5px;
}

.forma_1{
    margin-right: 15px;
}

.load_more_button{
    padding-bottom: 99px;
}

.filterimg{
    height: 211px;
    width: 285px;
}

.middle {
    display: none;
    padding-bottom: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

 
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
    }
    50% {
      transform: scaleY(1);
      background:var(--color1);
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
/* section Breaking News */

.photo_grid{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 2fr);
    row-gap:  45px;
    margin-bottom: 140px;
    
}
.li_data{
    position: relative;
    width: 265px;
height: 281px;
}

.data{
    width: 70px;
height: 68px;
background-color: #203E38;
text-align: center;
position: absolute;
top: 0;
right: 2px;
color: var(--color2);
padding-top: 14px;
transition: background 0.2s ease-in-out;
}

.feb{
    padding-top: 8px;
}

.under_data_photo{
    color:#717171;
display: block;
font-size: 17.988px;
font-weight: 700;
padding-left: 15px;
transition: color 0.2s ease-in-out;
}

.link{
    padding-bottom: 30px;
}

.under_data_text2{
    color: #777;
font-size: 14px;
font-weight: 300;
margin-top: 10px;
padding-left: 10px;
position: relative;
top: 10px;

}

.text2{
    padding-left: 22px;
}
.under::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
   opacity: 0.7;
   background-color: #777777;
   position: absolute;
   left: 88px;
   top: 3px;
}

.layer{
    padding-bottom: 13px;
}

.li_data:hover .data{
    background-color: var(--color1);
}

.li_data:hover .under_data_photo{
    color: var(--color1);
}


/* section what people say */

.what_people_say{
    background-image: url(../img/Layer\ 333.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.h3.peopleSay{
    color: var(--color2);
    padding-bottom: 36px;
}

.h3.peopleSay::after{
top: 150px;
}
.h3.peopleSay::before{
    top: 146px;
    }


.svgpeople{
    text-align: center;
    margin-top: 68px;
}

.carousel{
    position: relative;
   
  }

.text_what_people{
    max-width: 1160px;
    position: absolute;
    color: #BBB;
text-align: center;
font-size: 16px;
font-weight: 300;
line-height: 30px;
padding-top: 37px;
display: none;
animation: fadeIn 2s;
}

.text_what_people.active{
 display: block;
}

.text2_what_people{
    color: var(--color1);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 27px;
text-transform: uppercase;

}


.under_what_people{
    color: rgba(187, 187, 187, 1);
    text-align: center;
    font-size: 13px;
    font-weight: 300;
padding-top: 10px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.text_name_people{
    max-width: 1160px;
    padding-top: 133px; 
      display: none;
 animation: fadeIn 2s;
}

.text_name_people.active{
display: block;
}

.oneImag{
   text-align: center;
   padding-top: 25px;
   position: relative;
}

.bigimg{
    position: absolute;
    top: 95px;
    left: 50%; 
    transform: translate(-50%, -50%);
    border: 10px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 143px;
height: 142px;
opacity: 0;
transition: opacity 0.7s ease;
}

.bigimg.active{
    opacity:  1;
    margin: 0 auto;
    
}
.smallImg{
    display: flex;
   gap: 30px;
   align-items: center;
   justify-content: center;
   padding-top: 194px;
   padding-bottom: 104px;
  
}



.next-button{
    width: 31px;
height: 31px;
border: 1px solid rgba(187, 187, 187, 1);
position: relative;
}

.next-button:hover {
    background-color: var(--color1);
}

.next-button::after{
    content:"";
    display: block;
    width: 6px;
  height: 6px;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin-left: 16px;
    right: 13px;
    top: 10px;
    position: absolute;
}


.prev-button{
    width: 31px;
    height: 31px;
    border: 1px solid rgba(187, 187, 187, 1);
    position: relative;
}

.prev-button:hover{
    background-color: var(--color1);
}

.prev-button::before{
    content:"";
    display: block;
    width: 6px;
  height: 6px;
  border-top: 2px solid var(--color2);
  border-right: 2px solid var(--color2);
    transform: rotate(224deg);
    margin-left: 16px;
    right: 10px;
    top: 10px;
    position: absolute;
}



.border_for_small_img{
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 69px;
height: 69px;
}

.smallimgpeople{
    position: relative;
    bottom: 12px;
}

/* section Gallery of best images */

.h3.gallery{
padding-top: 108px;
padding-bottom: 115px;
}

.h3.gallery::before{
    top: 170px;
}

.h3.gallery::after{
    top: 174px;
}

.grid_2{
    width: 100%;
}


.grid_item{
    max-width: 380px;
}

.size_img{
    width: 378px;
    padding-bottom: 20px;
}


.midlle{
    display: flex;
    max-width: 360px;
    max-height: 168px;
    padding-left: 14px;
    padding-bottom: 3px;
    gap: 3px;
}


.small{
max-width: 376px;
max-height: 290px;
padding-left: 15px;
padding-bottom: 20px;
}

.smallimg{
width: 117.5px;
height: 90px;
}

  .load_more_button.button_gallery{
    padding-top: 52px;
    padding-bottom: 67px;
  }

  .footer{
    background-color: #22353F;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .text_footer{
    color: #AEAEAE;
font-size: 14px;
font-weight: 300;
line-height: 26px;
  }

  .theHamFooter{
    color: var(--color1);
  }
